/* Defaults */

body {
    width: 100%;
    margin: auto;
}

.page-header {
    margin-top: 30px;
}

.container {
    width: 100%;
    margin-bottom: 50px;
}

.navbar-custom {
    background-color: white;
}

.navbar-custom .navbar-text {
    color: rgb(136, 183, 236);
    opacity: 100%;
    margin-right: 20px;
    margin-top: 10px;
    font-size: 22px;
}

nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

.name {
    margin-left: 15px;
    margin-top: 10px;
    color: black;
    font-size: 52px;
    font-weight: normal;
    text-decoration: underline;
    text-decoration-color: rgb(136, 183, 236);
}

a {
    color: rgb(120, 165, 223);
    font-weight: bolder;
}

a:hover {
    color: rgb(146, 179, 223);
    font-weight: bolder;
}

footer {
    margin: 20px;
    margin-top: 40px;
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

#made-by {
    float: right;
    font-weight: normal;
}

/* Home page specific */

.homepage-info {
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 50px;
    padding: 40px;
    padding-top: 0px;
    padding-right: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.photo {
    margin-left: 5px;
    margin-top: 52px;
    float: left;
}

#me {
    border-radius: 120px;
}

.blurb {
    width: 75%;
    float: right;
}

.display-3 {
    margin-left: 19px;
    padding-top: 40px;
    padding-bottom: 20px;
}

.lead {
    margin-left: 23px;
    font-size: 24px;
}

.info-sections {
    margin-left: 50px;
    margin-right: 50px;
}

.section-header {
    font-size: 36px;
}

#current {
    margin-left: 25px;
    margin-top: 20px;
}

.current-items {
    font-size: 22px;
    margin-bottom: 5px;
    font-weight: normal;
}

.lets-talk {
    margin-left: 45px;
    margin-top: 20px;
}

.section2 {
    margin-top: 30px;
}

/* Projects specific */

.timeline-container {
    margin-top: 40px;
}

ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}

ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid rgb(136, 183, 236);
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

.timeline-event {
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 25px;
    box-shadow: 0 4px 8px 0 rgb(136, 183, 236);
    border-radius: 10px;
}

.timeline-date {
    font-weight: bold;
    font-size: 22px;
    opacity: 95%;
    color: rgb(136, 183, 236);
}

.border-current {
    border-color: rgb(120, 165, 223);
    border-width: 3px;
}

.proj-title {
    font-size: 36px;
    font-weight: normal;
}

.proj-text {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.awards-text {
    margin-bottom: -10px;
}

/* Blog post specific */

.form-group {
    float: right;
}

.left-label {
    margin-right: 40px;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.blog-title {
    font-size: 36px;
    font-weight: normal;
}

.blog-title:hover {
    font-weight: normal;
}

.blog-date {
    color: rgb(155, 169, 184);
    font-weight: lighter;
    margin-bottom: 15px;
}

.content-intro {
    font-size: 21px;
}

/* Post format specific */

.entire-post {
    margin-left: 50px;
    margin-right: 50px;
}

.back-button {
    margin-top: 30px;
    font-size: 18px;
}

#post-title {
    margin-top: -30px;
    margin-bottom: -20px;
    font-size: 64px;
}

#post-date {
    margin-bottom: 20px;
}

#post-content {
    padding-bottom: 15px;
}




